/* General Styles */
html {
    font-family: 'Helvetica Neue', sans-serif;
    background: #f8f8f8;
    padding: 1rem;
  }
  
  body {
    max-width: 480px;
    margin: 0 auto;
    background: #f0f0f0; /* Adjusted background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading Styles */
  h1 {
    font-family: 'Pacifico', cursive;
    color: #ff5a5f;
    margin: 1.5rem 0;
    font-size: 2.5rem;
    text-align: center;
  }
  
  /* Link Styles */
  a {
    color: #377ba8;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #1f4e75;
  }
  
  /* Navigation Styles */
  nav {
    background: #444;
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  
  nav h1 {
    flex: 1;
    margin: 0;
    font-size: 1.8rem;
    color: white;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
  }
  
  nav ul li a:hover {
    background-color: #333;
  }
  
  /* Content Styles */
  .content {
    padding: 2rem;
  }
  
  .content > header {
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem;
  }
  
  .content > header h1 {
    flex: 1;
    margin: 0;
    font-size: 2rem;
  }
  
  /* Form Styles */
  .content form {
    margin-top: 2rem;
    display: grid;
    gap: 1.5rem;
  }
  
  .content label {
    font-weight: bold;
  }
  
  .content input,
  .content textarea {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    transition: border-color 0.3s;
  }
  
  .content input:focus,
  .content textarea:focus {
    border-color: #ff5a5f;
  }
  
  /* Button Styles */
  input[type="submit"] {
    align-self: start;
    padding: 1rem 2rem;
    background-color: #ff5a5f;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #d63e42;
  }
  
  /* Flash Message Styles */
  .flash {
    margin: 2rem 0;
    padding: 1.5rem;
    background: #f7d4d6;
    border: 1px solid #ff5a5f;
    border-radius: 8px;
    color: #ff5a5f;
  }
  